<!--<h1 mat-dialog-title>
    Set Date</h1>
<div mat-dialog-content>
    <div class="row">
        <mat-form-field>
            <mat-label>Favorite Animal</mat-label>
            <input matInput [(value)]="data.animal">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Favorite Animal</mat-label>
            <input matInput [(value)]="data.animal">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Favorite Animal</mat-label>
            <input matInput [(value)]="data.animal">
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field>
            <mat-label>Favorite Animal</mat-label>
            <input matInput [(value)]="data.animal">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Favorite Animal</mat-label>
            <input matInput [(value)]="data.animal">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Favorite Animal</mat-label>
            <input matInput [(value)]="data.animal">
        </mat-form-field>
    </div>

</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="date" cdkFocusInitial>Set Date</button>
</div>-->