<!-- HEADER ==================================================== -->
<div class="lcars-column">

<div id="header" class="lcars-row header">

    <!-- ELBOW -->
    <div class="lcars-elbow left-bottom lcars-golden-tanoi-bg"></div>

    <div class="lcars-bar horizontal lcars-golden-tanoi-bg">
        <div class="lcars-title lcars-text"><a (click)="null">INFO</a></div>
        <div class="lcars-title lcars-text"><a (click)="null">INFO</a></div>
    </div>
    <!-- BAR WITH TITLE -->
    <div class="lcars-bar horizontal lcars-golden-tanoi-bg">
        <div class="lcars-title lcars-text right">OpenFantasyMap - {{title}}</div>
    </div>

    <!-- ROUNDED EDGE DECORATED -->
    <div class="lcars-bar horizontal right-end decorated lcars-golden-tanoi-bg"></div>
</div>
<!--
    <mat-sidenav-container class="example-container lcars-row">
        <mat-sidenav class="lcars-column start-space lcars-u-1 lcars-tan-bg" mode="over" #lbar>
            <button mat-button mat-icon-button (click)="rbar.toggle()" class="hidesmall"><mat-icon>menu</mat-icon></button>
            
        <button mat-button mat-icon-button (click)="lbar.toggle()"><mat-icon>map</mat-icon></button>
        <a href="https://www.patreon.com/openfantasymap" target="_blank" title="Help us keep this project alive" mat-button mat-icon-button ><mat-icon><img src="/assets/images/Digital-Patreon-Logo_FieryCoral.png" style="width:36px; left:-6px; top: -6px; position: relative;"></mat-icon></a>
        <a href="https://foundryvtt.com/packages/ofm-map-canvas" target="_blank" title="Use this and other OFM maps on FoundryVTT" mat-button mat-icon-button ><mat-icon><img src="/assets/images/fvtt-solid-512.png" style="width:36px; left:-6px; top: -6px; position: relative;"></mat-icon></a>
        <button mat-button mat-icon-button (click)="copy_url()" class="hidesmall"><mat-icon>share</mat-icon></button>
        <div *ngIf="infoData" class="info" [innerHtml]="infoData?.info"></div>
        
        <mat-nav-list>
            <a mat-list-item href="..">All fantasy worlds</a>
            <div mat-subheader>Sources</div>
            <mat-list-item *ngFor="let r of ofm_meta.sources">
                <a matListItemLine target="_blank" href="{{r.url}}">{{r.label}}</a>
                <div matListItemLine>{{r.attribution}}</div>
            </mat-list-item>
            <h1 mat-subheader>Related Maps</h1>
            <a *ngFor="let r of ofm_meta.relateds" mat-list-item href="{{r.url}}">{{r.title}}</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav class="s" mode="over" #rbar position="end">
        <mat-toolbar color="primary">
            <h1>Events</h1>
        </mat-toolbar>

        <mat-list *ngFor="let event of (events|async)">
            <a mat-list-item (click)="goTimeSpace(event.ohm_from, event.geom)">{{event.properties.name}}</a>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav class="sidebar" mode="over" #sharebar position="end">
        <mat-toolbar color="primary">
            <h1>Sharing</h1>
            <span class="spacer"></span>
            <button mat-button mat-icon-button (click)="sharebar.close()" class="hidesmall"><mat-icon>close</mat-icon></button>
        </mat-toolbar>

        <mat-list>
            <a mat-list-item href="https://profile.fantasymaps.org/?use={{share_link}}"><mat-icon><img src="/assets/images/fvtt-solid-512.png" style="width:36px; left:-6px; top: -6px; position: relative;"></mat-icon>Use on FoundryVTT</a>
            <a share="https://www.facebook.com/sharer/sharer.php?u={{share_link}}" mat-list-item><mat-icon>facebook</mat-icon> Share on Facebook</a>
            <a share="" mat-list-item><mat-icon>twitter</mat-icon> Share on Twitter</a>
        </mat-list>

    </mat-sidenav>
    <mat-sidenav-content #screen>
        <mat-menu #menu="matMenu">
            <!--
            <button mat-menu-item (click)="setSpeed(4000)">Slow</button>
            <button mat-menu-item (click)="setSpeed(2000)">Medium</button>
            <button mat-menu-item (click)="setSpeed(500)">High</button>
        </mat-menu>
    </mat-sidenav-content>
</mat-sidenav-container>
-->

<div class="lcars-row" style="position:relative; top: 72px;">
    <div class="lcars-column lcars-u-1">
            
        <div *ngIf="infoData" class="info lcars-element lcars-golden-tanoi-bg lcars-text lcars-u-1-4" [innerHtml]="infoData?.info"></div>
        <button class="lcars-element lcars-text lcars-lilac-bg button" [routerLink]="['/']">ALL MAPS</button>
        <button class="lcars-element lcars-lilac-bg lcars-text button" (click)="copy_url()" >SHARE</button>
        <a class="lcars-element lcars-text lcars-indigo-bg button" href="https://www.patreon.com/openfantasymap" target="_blank" title="Help us keep this project alive"  ><img src="/assets/images/Digital-Patreon-Logo_FieryCoral.png" style="width:36px; left:-6px; top: -6px; position: relative;"></a>
        <a class="lcars-element lcars-text lcars-indigo-bg button" href="https://foundryvtt.com/packages/ofm-map-canvas" target="_blank" title="Use this and other OFM maps on FoundryVTT"  ><img src="/assets/images/fvtt-solid-512.png" style="width:36px; left:-6px; top: -6px; position: relative;"></a>
        
        <div class="lcars-bar  fill lcars-indigo-bg"></div>
        <div class="lcars-bar  spacer"></div>
    </div>
    <div class="lcars-column lcars-u-15">
        <div class="lcars-row">
            <div id="ohm_map" class="lcars-u-15"></div>
            <div id="ofm_attribution" [innerHTML]="ofm_meta.copyright"></div>
        </div>
        
        <div id="timebar" class="lcars-row">
            <button mat-button class="hidesmall" (click)="selectDate()">{{atDate|decimaldate|date:'d/M/y G - hh:mm:ss'|nicedate}}</button>
            <button mat-button class="hidesmall" mat-icon-button (click)="startstop()"><mat-icon>{{startstopicon}}</mat-icon></button>
            <!--<button mat-button class="hidesmall" mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>speed</mat-icon></button>-->
        </div>
        <div id="visualization"></div>
    </div>
</div>
</div>