#ohm_map {
    height: calc(100vh - 85px - 64px - 16px - 1px - 19px);
    width: 100vw;
}

#visualization {
    width: calc(100vw -1px);
    max-height: 83px;
    border: 1px solid lightgray;
}

.vis-item.politcs-rome {
    background-color: red;
}

.sidebar {
    width: 256px;
    background-color: #3f51b5;
    color: white;
}

.info{
    padding: 16px;
}

#ofm_attribution{
    position:absolute;
    bottom:85px;
    right: 0;
    text-align: right;
    background-color: rgba(200,200,200,0.5);
    font-size: x-small;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 3px;
}