#ohm_map {
    height: calc(100vh - 85px - 64px - 16px - 1px);
    width: 100vw;
}

#visualization {
    width: calc(100vw -1px);
    max-height: 83px;
    border: 1px solid lightgray;
}

.vis-item.politcs-rome {
    background-color: red;
}

.sidebar {
    width: 256px;
    background-color: #3f51b5;
    color: white;
}