
#padder {
    padding-left:5;
    padding-top: 5px;
}
#ohm_timelines {
    width: 100%;
    height: calc(100vh - 72px - 72px - 5px);
    overflow: auto;
    
}

#header{
    border-bottom: 2px solid #fcee0a;
    left: 250px;
    width: calc(100vw - 265px);
}


mat-grid-list{
    width: 800px;
    margin-left:auto;
    margin-right:auto;
}
mat-grid-tile {
    background: darkred;
  }
  .sidebar {
      width: 256px;
      //background-color: rgb(109, 62, 0);
      color: white;
  }
  

.info{
    padding: 15px;
}

button{
    border: 0;
    text-transform: uppercase;
}
