mat-toolbar{
    background-color: rgb(109, 62, 0);
    color: white;
}

#ohm_timelines {
    height: calc(100vh - 64px - 16px - 1px - 20px);
    width: calc(100vw - 20px);
}

mat-grid-list{
    width: 800px;
    margin-left:auto;
    margin-right:auto;
}
mat-grid-tile {
    background: lightblue;
  }
  .sidebar {
      width: 256px;
      background-color: rgb(109, 62, 0);
      color: white;
  }
  

.info{
    padding: 15px;
}