router-outlet {
    height: calc(100vh - 20px);
    width: 100vw;
    overflow: hidden;
}

footer{
    width: 100%;
    color: white;
    font-size: 11px;
    height: 20px;
    text-align: center;
    position:absolute;
    bottom: 0;
    a{
        color:white;
    }
}