<div class="lcars-app-container">

<router-outlet>
</router-outlet>
<footer>
    <div id="footer" class="lcars-row ">
        <!-- ELBOW -->
        <div class="lcars-elbow left-top lcars-blue-bell-bg"></div>
        <!-- BAR -->			
        
        <div class="lcars-bar horizontal lcars-blue-bell-bg both-divider bottom"></div>
        <div class="lcars-title lcars-text lcars-u-4 "  style="position: relative; bottom: -47px; margin-left: 5px;">FantasyMaps is made with &hearts; in Bologna by <a href="https://www.openhistorymap.org" target="blank">OpenHistoryMap</a> </div>
        <!-- ROUNDED EDGE -->
        <div class="lcars-bar horizontal right-end lcars-blue-bell-bg left-divider bottom"></div>
    </div>
    
</footer>
</div>